@media screen and (max-width: 300px) {
  .nav__menu {
    padding: 4rem 1rem 2rem;
  }

  .nav__list {
    row-gap: 1rem;
  }

  .nav__link,
  .nav__cta {
    font-size: var(--smaller-font-size);
  }

  .nav__cta {
    padding: 8px 16px;
    font-size: 12px;
    margin-top: 1rem;
    width: auto;
    white-space: nowrap;
  }
}

@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    left: auto;
    background-color: hsla(0, 0%, 6%, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 60%;
    height: 100%;
    padding: 4rem 8rem 0;
    transition: right 0.4s;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .nav__list {
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1rem;
    margin-top: 2rem;
    padding-right: 1rem;
    font-size: 2rem;
  }

  .nav__item {
    margin-left: 0;
  }

  .nav__link {
    font-size: 1.2rem;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1150px) {
  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--first-color);
  z-index: var(--z-fixed);
  border-bottom: red 5px solid;
}

.nav {
  display: flex;
  align-items: center;
  height: var(--header-height);
}

.nav__logo {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
  color: #FFFFFF;
  text-decoration: none;
}

.nav__logo:hover {
  color: #FFC82D;
}

.nav.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  max-width: 1400px;
  margin: auto;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
  margin-right: 2rem;
}

.navbar-brand a {
  color: #FFFFFF !important;
  text-decoration: none;
}

.navbar-brand a:hover {
  color: #FFC82D !important;
}

.nav__logo-img {
  height: 3.5rem;
  width: auto;
  object-fit: contain;
  margin-bottom: 2px;

}

@media screen and (max-width: 768px) {
  .nav__logo-img {
    display: none;
  }

  .nav__logo {
    margin: 0;
  }

  .nav.container {
    padding: 0 1rem;
  }
}

.nav__toggle {
  font-size: 2.5rem;
  color: var(--title-color);
  cursor: pointer;
  margin-top: -12px;
  margin-left: 0px;
}
.nav__close {
  font-size: 2.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.nav__menu {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  gap:2rem;
  margin-left: 0;
}

.nav__item {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;

}

.nav__link:hover {
  color: #FFC82D;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.show-menu {
  right: 0;
}

.nav__list__web {
  display: flex;
  flex-direction: row;
  column-gap: 2.5rem;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-top: 8px
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 4px;
  padding: 0.5rem 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}
.dropdown-item:active,
.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #FFC82D !important;
  text-decoration: none;
}

.dropdown-menu .active {
  background-color: transparent;
  color: var(--title-color);
}

.dropdown-menu.show {
  display: block;
}

.dropdown-icon {
  transition: transform 0.3s ease;
}

.dropdown-menu.show + .dropdown-icon {
  transform: rotate(180deg);
}

@media screen and (max-width: 1150px) {
  .dropdown-menu {
    position: static;
    display: none;
    background-color: transparent;
    box-shadow: none;
    padding-left: 1rem;
    margin-top: 0.5rem;
    width: 100%;
  }

  .nav__item.dropdown .dropdown-menu {
    display: none;
  }

  .dropdown:hover .dropdown-menu {
    display: none;
  }

  .dropdown-menu.show {
    display: block !important;
  }

  .dropdown-item {
    color: var(--title-color);
    padding: 0.5rem 1rem;
  }

  .dropdown-item:hover,
  .dropdown-item.active {
    background-color: rgba(0, 0, 0, 0.05);
    color: #FFFFFF !important;
  }
}

@media screen and (min-width: 1151px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
