.footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-top: auto;
}

.footer.visible {
  opacity: 1;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.footer a {
  color: #ffa810;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.facebook-icon {
  font-size: 2.5rem;
  vertical-align: middle;
  margin-left: 10px;
  color: #1877f2;
  transition: color 0.3s ease;
}

.facebook-icon:hover {
  color: #ffa810;
}