.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .content {
    flex: 1
  }
  
  .footer p {
    margin: 0;
    color: #555;
  }