@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --header-height: 3.5rem;
  --first-color: #AF231C;
  --title-color: rgb(0, 0, 0);
  --text-color: rgb(0, 0, 0);
  --body-color: rgb(255, 255, 255);
  --body-font: "Montserrat", sans-serif;
  --second-font: "Host Grotesk";
  --h2-font-size: 2rem;
  --small-font-size: 1.1rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--small-font-size);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
}