.admin-container {
  padding: 2rem;
  max-width: 50rem;
}

.login-form,
.inventory-form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1rem;
}

.image-preview {
  width: 100%;
  max-width: 12.5rem;
  height: auto;
  margin: 0.5rem 0;
}
