.admin-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 0;
}

.admin-login-form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
}

.admin-login-form button {
  background-color: #AF231C;
  border: none;
  color: white;
  padding: 12px 24px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-login-form button:hover {
  background-color: #FFA810;
}

.admin-login-form h2 {
  color: black;
  margin-bottom: 1.5rem;
  text-align: center;
}

.admin-login-form label {
  color: black;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
} 